@font-face {
	font-family: "Loretta";
	src: url("/Loretta-Regular.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Loretta";
	src: url("/Loretta-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Loretta";
	src: url("/Loretta-Italic.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Name Sans";
	src: url("/Name\ Sans.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Pangea";
	src: url("/Pangea.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Vũ Thành An";
	src: url("/Vũ\ Thành\ An.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
