@font-face {
	font-family: "Loretta";
	src: url("./Loretta-Regular.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Loretta";
	src: url("./Loretta-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Loretta";
	src: url("./Loretta-Italic.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Name Sans";
	src: url("./Name\ Sans.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Pangea";
	src: url("./Pangea.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Vũ Thành An";
	src: url("./Vũ\ Thành\ An.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Alfa Slab One";
	src: url("./AlfaSlabOne-Regular.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Calistoga";
	src: url("./Calistoga-Regular.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Cormorant";
	src: url("./CormorantUpright-Regular.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Spectral SC";
	src: url("./SpectralSC-Regular.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Yeseva One";
	src: url("./YesevaOne-Regular.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
