.HeroSection {
	/* background: linear-gradient(-35deg, #ede0d4, #bda28f, #9b9b9b, #58748f); */
	background: linear-gradient(135deg, #bda28f 0%, #8391a9 70%, #58748f 80%);
	background-size: 400% 400%;
	animation: animationName 12s ease infinite;
}

@keyframes animationName {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
.carousel {
	&[data-inactive] {
		opacity: 0;
		cursor: default;
	}
}
