/* @font-face {
  font-family: 'loretta';
  src: url('../../../../public/Loretta-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('../../../../public/Harriet-2v1-Display-Black.woff2') format('woff2');
  font-family: 'Harriet Black';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  src: url('../../../../public/Harriet-2v1-Display-Black.woff2') format('woff2');
  font-family: 'Harriet Black';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  src: url('../../../../public/Fragen-Regular.woff2') format('woff2');
  font-family: 'Fragen';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  src: url('../../../../public/AlbulaPro-ExtraBold.woff2') format('woff2');
  font-family: 'Albula Pro';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
} */

.page {
  background-color: #ff6347;
  /* Dark Salmon */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 181, 86, 1) 0%,
    rgba(236, 105, 40, 1) 31%,
    rgba(199, 58, 103, 1) 61%,
    rgba(149, 41, 171, 1)
  );
  /* Orange -> Dark Goldenrod -> Gold */
  background-attachment: fixed;
}
